<% title "Instructed Deploys" %>
<% header_right link_to "Manual Deploy", deploy_path, method: :post, class: "btn btn-success" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Targets Me?</th>
      <th>Instruction UID</th>
    </tr>
  </thead>
  <tbody>
    <% @configurator_entries.each do |entry| %>
      <tr>
        <td><%= entry.created_at %></td>
        <td><%= entry.targets_me %></td>
        <td><%= link_to entry.uid %></td>
      </tr>
    <% end %>
  </tbody>
</table>
